*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Index */

header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #111a9b;
}

.navbarDiv{
    width: 50%;
}

.logoImg{
    height: 50%;
    width: 50px;
}

.navbarUl{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fafafa;


}

.main{
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    min-height: 100vh;
}